# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# saved models
models/

# Jupyter Notebook
.ipynb_checkpoints

# Python-venv
venv/
*.venv
env/

# Poetry
poetry.lock

# PyCharm
.idea/
*.iml

# VSCode
.vscode/
